@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: #487a7ae0; */
  background: #cdccd5;
}

::selection {
  background-color: #a94044;
  color: white;
}

.firstTitle {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  transition: all 0.3s;
}

.firstTitle button {
  background-color: #f0a602;
  padding: 3px 8px;
  font-weight: bold;
  color: black;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.4s;
}

.input {
  width: 300px;
  height: 36px;
  border-radius: 4px;
  padding-left: 12px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #89979b;
  transition: border-color 150ms ease-in-out 0s;
  outline: none;
  color: #21313c;
  background-color: #ffffff;
  padding-right: 12px;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  border-radius: 30px;
  width: 600px;
}

.container section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 30px;
  transition: all 0.3s;
  overflow: hidden;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.showBorder {
  border-bottom: 1px solid #e4e4e4;
}

.content {
  transition: all 0.2s;
  height: 0px;
}

.content div {
  padding: 20px;
}

.show {
  display: flex;
  height: 140px;
}

.passworsGenerator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 50px;
}

.passworsGenerator div {
  display: flex;
  gap: 20px;
}

.passworsGenerator .showPassword {
  font-size: 1.5rem;
  text-align: center;
}

.passworsGenerator button {
  width: fit-content;
  border: none;
  background-color: #7272e6;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 10px;
}
.passworsGenerator button:hover {
  background-color: #5454d1;
}

.busContainer {
  background-image: url("../Images/Makima.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  color: white !important;
  border-radius: 16px;
  box-shadow: 0 4px 12px #0000001a;
  padding: 30px;
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
}

.busTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 12px;
  color: #ffffff;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 6px;
  margin-top: 20px;
}

.busName {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}

.ticket {
  display: flex;
  gap: 12px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.left div,
.right div {
  flex: 1;
  backdrop-filter: blur(3px);
  border-radius: 12px;
  display: flex;
  padding: 0 12px;
  border: 1px solid #d1d1d154;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.busName > div {
  flex: 1 1 45%;
  border: 1px solid #d1d1d154;
  backdrop-filter: blur(3px);
  color: white;
  border-radius: 12px;
  display: flex;
  padding: 0 12px;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.busName > div:hover,
.left div:hover,
.right div:hover {
  border: 1px solid #d1d1d19a;
}

.busName input[type="radio"],
.ticket input[type="radio"] {
  accent-color: #007bff;
  width: 18px;
  height: 18px;
}

.busName label,
.ticket label {
  font-size: 1rem;
  padding: 12px 12px 12px 0;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
}

.busInput {
  margin-top: 20px;
}

.busInput .input {
  width: 100%;
  padding: 15px 20px;
  font-size: 1rem;
  border: 2px solid #d1d1d1dc;
  border-radius: 10px;
  transition: all 0.3s ease;
  backdrop-filter: blur(3px);
  color: white;
  background-color: transparent;
}

.busInput .input::placeholder {
  color: #cfcfcf;
  font-size: 14px;
}

.busInput .input:focus {
  border-color: #007bff;
  outline: none;
}

.busSubmit {
  margin-top: 20px;
  width: 100%;
  background-color: #007bffd8;
  color: white;
  padding: 14px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(3px);
  transition: all 0.3s ease;
}

.busSubmit:hover {
  background-color: #0056b3;
}

.showBusInfo {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
}

.gameContainer {
  margin: 30px auto;
  background-color: white;
  color: black !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0px 0px 10px #b4c2c575;
  padding: 20px;
  height: 280px;
  border-radius: 10px;
  width: fit-content;
}

.gameBtns {
  display: flex;
  gap: 20px;
}

.gameBtns button {
  border: none;
  background-color: lightgreen;
  padding: 20px 24px;
  font-size: 2rem;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

.gameBtns button:hover {
  transform: scale(1.1);
}

#showGameResult,
#total {
  font-size: 1.5rem;
}

.funcBtns button {
  border: none;
  background-color: #ff0000;
  color: white;
  padding: 10px 30px;
  width: 200px;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.funcBtns button:hover {
  background-color: #eb0000;
}

main {
  text-align: center;
  padding: 20px;
}

.TTTcontainer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  display: grid;
  order: 2;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 400px;
  height: 400px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.box {
  width: 120px;
  margin: auto;
  height: 120px;
  border-radius: 1rem;
  border: 1px solid #c4c4c4;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 2.5rem;
  background-color: #fdfebe;
  color: #000000;
}

.box:hover {
  background-color: #d5d6a1;
}

#reset {
  padding: 0.8rem 2rem;
  margin-top: 10px;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: #1b1b1b;
  cursor: pointer;
}

#message {
  margin-top: 10px;
  color: #fdfebe;
}

.redColor {
  background-color: #ff4a4a;
  color: white;
}

.redColor:hover {
  background-color: #ff4a4a;
}

.amongContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 90px;
}

.amongSection {
  position: relative;
}

.amongSection::after {
  content: "";
  position: absolute;
  bottom: -12px;
  width: 175px;
  left: -23px;
  height: 42px;
  background-color: #9a9898d4;
  z-index: -10;
  border-radius: 100%;
}

.among {
  position: relative;
}

.amongSection:nth-child(1) {
  transform: translateY(-72px);
}

.amongSection:nth-child(3) {
  transform: translateY(-17px);
}

.amongSection:nth-child(1) .amongBody::after {
  left: 50%;
}

.amongSection:nth-child(1) .amongBody::before {
  background-color: #edeff5;
  right: 124px;
  border: 4px solid;
  border-right: none;
  border-radius: 20px 0 0 20px;
}

.amongSection:nth-child(1) .whiteEye{
  left: 82px;
}

.amongSection:nth-child(1) .amongBody,
.amongSection:nth-child(1) .legs div {
  background-color: #edeff5;
}

.amongSection:nth-child(2) .amongBody,
.amongSection:nth-child(2) .legs div,
.amongSection:nth-child(2) .amongBody::before {
  background-color: #fc1c39;
}

.amongSection:nth-child(3) .amongBody,
.amongSection:nth-child(3) .legs div,
.amongSection:nth-child(3) .amongBody::before {
  background-color: #eaef85;
}

.amongBody {
  border: 4px solid black;
  height: 170px;
  width: 129px;
  border-radius: 130px 130px 0 0;
  position: relative;
  border-bottom: none;
}

.amongBody::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 33px;
  border: 4px solid black;
  background-color: #91dbdf;
  top: 26%;
  border-radius: 30px;
  left: -14%;
  box-shadow: inset -5px -4px #4c789e8a;
}

.amongBody::before {
  content: "";
  right: -29px;
  top: 34%;
  height: 67px;
  width: 22px;
  position: absolute;
  border: 4px solid black;
  border-left: none;
  border-radius: 0 20px 20px 0;
}

.whiteEye {
  position: absolute;
  background: #ffffffa3;
  width: 24px;
  height: 10px;
  top: 57px;
  z-index: 1;
  left: 18px;
  border-radius: 7px 6px 8px 11px;
}

.legs {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.legs div {
  border: 4px solid black;
  border-top: none;
  width: 44px;
  height: 40px;
  border-radius: 0 0 20px 20px;
}

.legs div:nth-child(1) {
  position: relative;
}

.legs div:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 53px;
  height: 4px;
  background: #000;
  border-radius: 24px;
  left: 33px;
}
