@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
}

a {
  text-decoration: none;
}

body {
  background-color: #1f1f1f;
}

button {
  background-color: #eaeaea;
  font-size: 1.3rem;
  color: black;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: #c5c5c5;
}

p,
h1,
h2 {
  color: white;
  text-transform: capitalize;
}

header {
  position: relative;
  height: 388.8px;
  border-bottom: 7px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 25px;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.between {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1rem;
}

/* The "?" Box */
.number {
  background: #eee;
  color: #333;
  font-size: 4rem;
  width: auto;
  padding: 2rem 3rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* Main Game Area */
main {
  margin-top: 150px;
  padding-bottom: 54px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left,
.right {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input & Buttons */
.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  color: white;
  padding: 1.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

/* Labels & Status */
.right {
  font-size: 2rem;
  line-height: 1.5;
  align-items: flex-start;
}

.message {
  margin-bottom: 2rem;
  height: 3rem;
}

.correct{
  background-color: #55AA3E;
}