/* @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", system-ui;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container {
  height: 250px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  z-index: 1;
}

.container::after {
  content: "";
  position: absolute;
  display: flex;
  align-self: center;
  justify-self: center;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 200%;
  background-color: #e91e63;
  z-index: -2;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container::before {
  content: "";
  position: absolute;
  inset: 5px;
  background-color: lightgreen;
  z-index: -1;
}
 */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 300px; */
}

.btnsSection {
  width: 300px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.btns {
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  width: 150px;
  padding: 8px 0;
  border-radius: 5px;
  transition: left 0.5s, top 0.5s;
  margin-top: 10px;
}

.yesBtn {
  background-color: #53bf9d;
}
.noBtn {
  background-color: #f94c66;
}

.why-are-you-gay{
  width: 400px;
}

.text{
  text-align: center;
}