* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.contaier {
  display: flex;
  margin-top: 20px;
  padding: 0 10px;
  justify-content: space-around;
}

.btns {
  border: none;
  cursor: pointer;
  background-color: #49c79d;
  color: white;
  padding: 18px 35px;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.2s;
}

.btns:focus {
  outline: 1px solid blue;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  inset: 0;
  background: #00000080;
  z-index: 1;
}

/* Modal box */
.modal {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 90%;
  padding: 30px 35px;
  border-radius: 6px;
  box-shadow: #959da533 0px 8px 24px;
  transition: all .3s;
}

.modal1 {
  background-color: #ffffeb;
}

.modal2 {
  background-color: #ffd2d2;
}

.modal3 {
  background-color: #ff6969;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 18px;
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: #333;
}

.close-btn:hover {
  color: #000;
}

/* Title */
.modal h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

/* Text */
.modal p {
  font-size: 14px;
  line-height: 1.6;
  color: #444;
}
