@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: var(--main);
}

:root {
  --body: #e9f4f2;
  --main: #1abc9c;
  --black: #000;
  --lightBlack: #383838;
  --headerBlur: #fcfcfc;
  --hover: white;
  --border: #c2c2c2;
  --inputBorder: #ccccccd3;
  --inputPlaceh: #505050;
  --maxWidth: 1300px;
}

body {
  background: var(--body);
  transition: all 0.3s;
}

::selection {
  background-color: var(--main);
  color: white;
}

.none {
  display: none !important;
}

a {
  text-decoration: none;
}

body.dark {
  background-color: #292c35;
  --black: #ffffff;
  --lightBlack: #c9c8c8;
  --headerBlur: #302b2b;
  --border: #646464;
  --inputPlaceh: #bebebe97;
  --inputBorder: #ccccccd3;
}

body.dark h1,
body.dark .support a {
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 45px;
  height: 24px;
  border-radius: 45px;
  position: relative;
  padding: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(21px);
}

.ri-sun-line,
.ri-moon-fill {
  font-size: 14px;
  color: white;
}

/* ! */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
}

.headerBg {
  backdrop-filter: blur(7px);
  background-color: var(--headerBlur);
  border-bottom: 1px solid #c2c2c28f;
}

.head {
  max-width: var(--maxWidth);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  margin: auto;
}

.right {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

header .logo p {
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  color: var(--black);
}

.shope {
  position: relative;
  transition: all 0.3s;
}

.addToCartNum,
.addToCartNum2 {
  position: absolute;
  top: -1px;
  left: -7px;
  color: white;
  background-color: var(--main);
  font-size: 12px;
  height: 17px;
  width: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.shope svg {
  width: 25px;
  cursor: pointer;
  color: var(--black);
}

main,
.container {
  margin-top: 45px !important;
}

main {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 20px;
  margin: auto;
  max-width: 1200px;
}

section {
  box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;
}

.image {
  width: 100%;
  height: 350px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  padding: 10px 10px 20px 13px;
}

.name {
  font-size: 16px;
  color: var(--black);
}

.anime {
  font-size: 12px;
  color: var(--lightBlack);
  margin: 6px 0;
}

.addToCart,
.addToCart2 {
  border: none;
  background-color: var(--main);
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
}

@media (max-width: 555px) {
  .addToCart,
  .addToCart2 {
    width: 100%;
  }
}

.text div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text div img {
  width: 80px !important;
}

/* add to cart */

.middle p {
  font-size: 1.3rem;
  color: var(--black);
}
.middle p span {
  color: var(--main) !important;
}

.subContainer1 {
  padding: 40px 20px 20px 20px;
}

.title {
  margin-bottom: 10px;
  color: var(--black);
  font-size: 20px;
}

.subtitle {
  color: var(--main);
}

.cart {
  border: 1px solid var(--border);
  padding: 15px;
  border-radius: 5px;
}

.item {
  margin-top: 8px !important;
  display: flex;
  gap: 20px;
}

.item img {
  width: 386px;
  height: 221px;
  object-fit: cover;
}

.subSubTitle {
  font-weight: bold;
  font-size: 17px;
  color: var(--black);
}

.price {
  font-weight: bold;
  color: #b12704;
}

.itemText {
  display: flex;
  gap: 3px;
  flex-direction: column;
}

.quanBtn p {
  font-size: 14px;
  color: var(--black);
}

.quanBtn button {
  border: none;
  background-color: transparent;
  color: #005cc8;
  cursor: pointer;
  transition: all 0.3s;
}

.quanBtn button:hover {
  color: #b12704;
}

.deliveryDateLabel {
  font-size: 13px;
  color: var(--main);
}

.subSubContainer {
  margin: auto;
  max-width: var(--maxWidth);
  padding: 30px;
}

.COS {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.COSText {
  justify-content: start;
}

.content {
  min-width: 665px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#search {
  border: 1px solid var(--inputBorder);
  padding: 5px 11px;
  background-color: transparent;
  color: var(--black);
  transition: all 0.3s;
}

#search::placeholder {
  font-size: 11px;
  color: var(--inputPlaceh);
}

#search:focus {
  outline: none;
  border: 1px solid var(--main);
}

.notFound {
  text-align: center;
  margin-top: 20px;
  background-color: red;
  color: white;
}

.sectionWidth {
  width: 275px !important;
}

@media (max-width: 550px) {
  .sectionWidth {
    width: 100% !important;
  }
}

.noItem {
  color: var(--black);
  font-size: 20px;
}

.menu {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menuIcon {
  width: 27px;
  color: var(--black);
}

.menuSlider {
  display: none;
  background-color: #1abc9cd7;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70%;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  backdrop-filter: blur(5px);
  transform: translateX(-100%);
}

.showMenu {
  transform: translateX(0%);
}

@media (max-width: 550px) {
  .right .inputContainer,
  .right .darkMod,
  .right .shope {
    display: none !important;
  }
  .menu,
  .menuSlider {
    display: flex;
  }
}

.menuSlider {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  transition: all 0.3s;
}

.shope2 svg {
  color: var(--black) !important;
  width: 30px;
}

.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  margin-top: 10px;
}
.shope2 {
  position: relative;
}

.DS {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sliderContainer .logo p {
  font-size: 1.7rem !important;
  color: var(--black);
  font-weight: bold;
}

.shope2 a svg {
  width: 25px;
}

.inputContainer2 {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#search2 {
  width: 90% !important;
  border: 1px solid #d8d8d8 !important;
  padding: 6px 20px !important;
}

#search2::placeholder {
  color: #505050 !important;
  font-size: 11px;
}

#search2:focus {
  border: 1px solid #d8d8d8 !important;
  outline: none;
}

/* Order Summary */

.orderSummary {
  width: 595px;
  height: fit-content;
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--black);
}

.summaryText {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 10px;
}

.summaryText div p {
  font-size: 15px;
  color: var(--lightBlack);
}

.summaryText div {
  display: flex;
  justify-content: space-between;
}

.totalOrder {
  border-top: 1px solid var(--border);
}

.totalOrder h3 {
  color: var(--main);
  margin-top: 10px;
}

.EstimatedTax {
  margin-bottom: 10px;
}

.summaryText div button {
  border: none;
  color: white;
  background-color: var(--main);
  width: 100%;
  padding: 13px 0;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
}

@media (max-width: 1000px) {
  .COS {
    flex-direction: column !important;
  }
  .orderSummary {
    width: 100% !important;
  }
  .content {
    width: 100% !important;
    min-width: auto;
  }
}

@media (max-width: 685px) {
  .item {
    flex-direction: column;
  }
  .item img {
    width: 100%;
    height: 300px;
  }
  .subSubTitle {
    font-size: 18px;
  }
  .price {
    font-size: 17px;
  }
  .quanBtn p {
    font-size: 14px;
  }
  .subSubContainer {
    padding: 0 !important;
  }
}

@media (max-width: 630px) {
  .middle p {
    display: none;
  }
}

.removeOrderSummary {
  display: none;
}
