@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  font-family: "Poppins", system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
